In [ ]:
'''
作業目標:

敘述統計量計算
運用自定義函數apply
作業重點:

了解敘述統計量並解釋
運用apply時須注意自定義函數寫法
題目
對以下成績資料做分析

6號學生(student_id=6)3科平均分數為何?
6號學生3科平均分數是否有贏過班上一半的同學?
由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?
承上題，加分後各科班平均變多少?
score_df = pd.DataFrame([[1,56,66,70], [2,90,45,34], [3,45,32,55], [4,70,77,89], [5,56,80,70], [6,60,54,55], [7,45,70,79], [8,34,77,76], [9,25,87,60], [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])

'''

In [2]:
import pandas as pd
score_df = pd.DataFrame([[1,56,66,70], 
              [2,90,45,34],
              [3,45,32,55],
              [4,70,77,89],
              [5,56,80,70],
              [6,60,54,55],
              [7,45,70,79],
              [8,34,77,76],
              [9,25,87,60],
              [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])
score_df = score_df.set_index('student_id')
score_df

            math_score  english_score  chinese_score
student_id
1                   56             66             70
2                   90             45             34
3                   45             32             55
4                   70             77             89
5                   56             80             70
6                   60             54             55
7                   45             70             79
8                   34             77             76
9                   25             87             60
10                  88             40             43

In [18]:
#1.6號學生(student_id=6)3科平均分數為何?
studentmean=[]
studentmean=score_df.mean(axis=1)
print(studentmean[6])
#print(studentmean[:])

56.333333333333336
student_id
1     64.000000
2     56.333333
3     44.000000
4     78.666667
5     68.666667
6     56.333333
7     64.666667
8     62.333333
9     57.333333
10    57.000000
dtype: float64

In [28]:
#2. 6號學生3科平均分數是否有贏過班上一半的同學
listt=[1,2,3,4,5,7,8,9,10]
n=0
for i in listt:
    if studentmean[6]>studentmean[i]:
        n+=1
    else:
        continue
if n>5:
    print('有贏過一半的人')
else:
    print('沒有贏過一半的人')

沒有贏過一半的人

In [4]:
#由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?

newscore=score_df.apply(lambda x : x**(0.5)*10)
print(newscore[5:6])
print(score_df.apply(lambda x : x**(0.5)*10).values[5])

            math_score  english_score  chinese_score
student_id
6            77.459667      73.484692      74.161985
[77.45966692 73.48469228 74.16198487]

In [26]:
#承上題，加分後各科班平均變多少

In [46]:
print(newscore.math_score.mean())
print(newscore.english_score.mean())
print(newscore.chinese_score.mean())

74.1942207648474
78.35030113852697
78.73992805288852